*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

:root{
    --h4-color: rgba(61, 161, 15, 0.925);
    --main-color: #fff;
    --text-color: #000;
    --bg-color: rgb(229,228,226);
    --big-font: 2.5rem;
    --h6-font: 0.7rem;
    --padding: 10px 20px;
    --p-font: 1.2rem;
    --border-radius: 0.5rem;
    --small-font: 1.2rem;
    --border-radius-input: 0.3rem
}

body{
    color: var(--text-color);
    overflow: scroll;
}



.container{
    max-width: 600px;
    width: 90%;
    height: auto;
    box-sizing: border-box;
    padding: 70px 30px;
    margin: 2rem auto;
    box-shadow:  5px 5px 12px #d9d9d9,
             -5px -5px 12px #e7e7e7;
             /* box-shadow: -3px 0px 0px -30px rgba(255,255,255,0.75);
    -webkit-box-shadow: -3px 0px 0px -30px rgba(255,255,255,0.75);
    -moz-box-shadow: -3px 0px 0px -30px rgba(255,255,255,0.75); */
}

h4{
    font-size: var(--big-font);
    text-align: center;
    color: var(--h4-color);
    margin-bottom: 20px;
    padding-bottom: 30px;
}

h6{
    color: var(--h4-color);
    font-size: var(--h6-font);
    margin: 10px 0;

}


.textarea{
   width: 100%;
    background-color: var(--bg-color);
    font-size: var(--small-font);
    color: var(--text-color);
    border-radius: var(--border-radius-input);
    border: none;
    padding: var(--padding);
    resize: none;
}
.textarea:focus{
    outline: 2px solid var(--h4-color);
}

input[type="text"]{
    padding: var(--padding);
    min-width: 100%;
    height: 60px;
    background-color: var(--bg-color);
    font-size: var(--small-font);
    border-radius: var(--border-radius-input);
    border: none;

}
input[type="text"]:focus{
    outline: 2px solid var(--h4-color);
}
.redacted{

}

#btn{
    background-color: var(--h4-color);
    border-radius: var(--border-radius);
    color: var(--main-color);
    min-width: 100%;
    height: 60px;
    margin-top: 20px;
    font-size: var(--small-font);
    outline: none;
    border: none;
    cursor: pointer;
}
#btn:hover {
   transform: scale(.99);
}

/* .content{
    display: none;
} */


.hero{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    
}
.hero .copy{
    cursor: pointer;
}
.hero .copy:hover{
    text-decoration: underline;
}

@media(max-width:450px){
    .container{
        padding: 70px 10px;
    }
}
