*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: crimson;
}

.loginbox{
    width: 620px;
    height: 520px;
    background-color: #ffffff;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    box-shadow: 10px 10px 15px rgba(255, 0, 0 0.7) rgba(0, 255, 0 0.7) rgba(255, 255, 0 0.7) ;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -10%;
    left: calc(50% - 50px);
}

input::placeholder{
    color: green;
    transition: 1.1s ease-in-out;

}

input[type="tel"]{
    padding: 10px;
    padding-left: 60px;
}

input[type="tel"]::placeholder{
    color: green;
    padding-left: 10px;

}

input:focus::placeholder{
    transform: translateY(-0.75rem);

}

.namelists{
    display: flex;
    gap: 3px;
    margin-right: 5px;
}

.loginbox input[type="text"]{
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 5px;
    margin-top: 30px;
    padding: 10px;
    
}

.loginbox input[type="email"], [type="tel"]{
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 5px;
    margin-top: 30px;
    padding: 10px;
}

.loginbox input[type="text"], input[type="email"], input[type="tel"]{
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    font-size: 16px;
    color: #000;
}

.loginbox h1{
    color: green;
    text-align: center;
}

label{
    margin-top: 10px;
}

select{
    position: absolute;
    top: 345px;
    left: 30px;
    width: 4.0rem;
    height: 30px;
    margin-top: -5.0px;
    display: block;
    border: none;
    background-color: green;
    color: #fff;
    line-height: 1.9px;
    cursor: pointer;
    border-radius: .25em;
    transition: ease-in-out;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: serif;
}


.loginbox button{
    border: none;
    outline: none;
    height: 60px;
    background-color: green;
    color: #fff;
    font-size: 18px;
    width: 100%;
    border-radius: 7px;
    margin-top: 20px;
    margin-bottom: 30px;
}


form > img{
    position: absolute;
    top: 335px;
    right: 30px;
    display: block;
}


